@import "Colors.css";

footer{
    background-color: var(--white);
    width: 100%;
}
footer .container {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
.footerText{
    font-size: 1.5rem;
    color: var(--green);
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3rem;
    margin-left: 4rem;
}
footer ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
footer li{
    font-size: 1rem;
    margin: 0;
    color: var(--light-black);
}

footer img {
    max-width: 10rem;
    height: 15rem;
    border: 2px solid black;
    margin-right: 3rem;
}