@import 'Colors.css';


header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    gap: 4.5rem;
    background-image: linear-gradient(to bottom, var(--green) 80%, transparent 20%);
    background-clip: content-box;
    width: 100%;
  }

header img{
    margin-top: 1rem;
    width: 20rem;
    height: 24rem;
}
header h4{
    font-family: 'Markazi Text', serif;
    font-size: 3.5rem;
    font-weight: 300;
    margin: 1rem 6rem 0 0;
    color: var(--yellow);
}
header h5{
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    margin: 0;
    
}
header h6{
    font-weight: 500;
    color: var(--white);
    word-wrap: break-word;
    max-width: 20rem;
    font-size: 0.7rem;
    margin: 1rem 0 3.5rem;

}
header .reserve{
    border-radius: 4px;
    background-color: var(--yellow);
    font-size: 15px;
    font-weight: 600;
    color: var(--light-black);
    padding: 13px 19px 10px;
    text-decoration: none;
}
header .reserve:hover,.reserve:focus{
    background-color: #f4cf14db;
    cursor: pointer;
}